

h1{
	font-family: sans-serif;
}

h2{
	font-family: sans-serif;
}

h3{
	font-family: sans-serif;
}

.btn{
	background-color: #3e3e3e;
	padding: 5px;
	border: thin;
	
}
a{
	text-decoration: none;
	font-family: monospace;
	color: black;
}


